<section class="portfolio" id="portfolio">
<div class="portfolio-title">
    <h1 class="portfolio-title-main">portfolio</h1>
</div>
  
    <div class="wrapper">

        <div class="cards-box">
            <div class="cards">
                <div class="cards__card">
                    <div class="cards__card-after" onclick=""></div>
                    <div class="cards__card-before" onclick=""></div>
                </div>
                <div class="cards__card two">
                    <div class="cards__card-after after-two-img" onclick=""></div>
                    <div class="cards__card-before before-two-img"onclick=""></div>
                </div>
                <div class="cards__card three">
                    <div class="cards__card-after after-three-img" onclick=""></div>
                    <div class="cards__card-before before-three-img"onclick=""></div>
                </div>
                <div class="cards__card four">
                    <div class="cards__card-after after-four-img"onclick=""></div>
                    <div class="cards__card-before before-four-img"onclick=""></div>
                </div>
                <div class="cards__card five">
                    <div class="cards__card-after after-five-img" onclick=""></div>
                    <div class="cards__card-before before-five-img" onclick=""></div>
                </div>
                <div class="cards__card six">
                    <div class="cards__card-after after-six-img" onclick=""></div>
                    <div class="cards__card-before before-six-img" onclick=""></div>
                </div>
                <div class="cards__card seven">
                    <div class="cards__card-after after-seven-img" onclick=""></div>
                    <div class="cards__card-before before-seven-img" onclick=""></div>
                </div>
                <div class="cards__card">
                    <div class="moreBtn"> <a href="https://www.instagram.com/cut_or_not_anna_dudek/"  target="_blank" ><button class="section-btn" onclick="void(0)">Zobacz
                        więcej!</button></a></div>
                    
                </div>

            </div>
        </div>
        
    </div>

</section>