<section class="reviews">
    <div class="swiper">
        <!-- Additional required wrapper -->
        <swiper-container slides-per-view="1" speed="500" css-mode="true" navigation="true" pagination="true"
            scrollbar="true" autoplay="true" init="false">
            <!-- Slides -->
            <swiper-slide class="swiper-slide one">

                <div class="swiper-slide-box">
                    <i class="fa-solid fa-quote-right quote"></i>
                    <p>Bardzo polecam!
                        Jestem zachwycona efektami koloryzacji i strzyżenia. Pełen profesjonalizm. Wszystko
                        wykonywane z ogromną dokładnością. Od samego początku czułam, że jestem w najlepszych rękach
                        i się nie myliłam. Moje włosy znów wyglądają pięknie i zdrowo, nie mogę się doczekać
                        kolejnych wizyt ❤️</p>
                    <strong>Kinga Kołodziej</strong>
                </div>

            </swiper-slide>
            <swiper-slide class="swiper-slide two">

                <div class="swiper-slide-box">
                    <i class="fa-solid fa-quote-right quote"></i>
                    <p>Jestem bardzo zadowolona z usług pani Ani i zdecydowanie polecam jej zakład. Zapewniła mi
                        profesjonalne strzyżenie w przyjemnej atmosferze. Na pewno tam wrócę!</p>
                    <strong>Ewa Popiołek</strong>
                </div>
            </swiper-slide>
            <swiper-slide class="swiper-slide three">
                <div class="swiper-slide-box">
                    <i class="fa-solid fa-quote-right quote"></i>
                    <p>Byłam pierwszy raz, jestem bardzo zadowolona, atmosfera miła, domowa, Pani Ania potrafi
                        swietnie doradzic, ale przede wszystkim efekt jest bardzo dobry, na pewno jeszcze wrócę i
                        polecam 👍</p>
                    <strong>Monika Czarnik-Janusz</strong>
                </div>
            </swiper-slide>
            <swiper-slide class="swiper-slide four">
                <div class="swiper-slide-box">
                    <i class="fa-solid fa-quote-right quote"></i>
                    <p>W pełni profesjonalna pracownia fryzjerska, obsługa bardzo rzetelna i uprzejma. Jestem
                        niezwykle zadowolony z kontaktu i elastycznego podejścia do klienta. Wszystkie aspekty są
                        utrzymane na najwyższym poziomie. Atmosfera w salonie jest przyjemna, co gwarantuje pełen
                        komfort. Rewelacyjna pracownia, gdzie właścicielka jest specjalistą ze szczytu swojej
                        branży.</p>
                    <strong>Maciej Pasternak</strong>
                </div>
            </swiper-slide>
            <swiper-slide class="swiper-slide five">
                <div class="swiper-slide-box">
                    <i class="fa-solid fa-quote-right quote"></i>
                    <p>Bardzo polecam, jestem zachwycona efektem a atmosfera jest przyjazna co sprawia ze wizyty są
                        bardzo przyjemne❤️</p>
                    <strong>Aleksandra Zięba</strong>
                </div>
            </swiper-slide>
            <swiper-slide class="swiper-slide six">
                <div class="swiper-slide-box">
                    <i class="fa-solid fa-quote-right quote"></i>
                    <p>Bardzo dziękuję za fachowe podejście. Koloryzacja wyszła wspaniale. A z Panią Anią miło i
                        przyjemnie spędzony czas w salonie przy pysznej kawie. Do zobaczenia kolejnym razem 😉</p>
                    <strong>Izabela Pachla</strong>
                </div>
            </swiper-slide>
            <swiper-slide class="swiper-slide seven">
                <div class="swiper-slide-box">
                    <i class="fa-solid fa-quote-right quote"></i>
                    <p>To miejsce, które przyciąga uwagę swoim profesjonalizmem. Jednak w zestawie dostajemy również
                        przyjazną atmosferę, świetną obsługę i zaangażowanie. Jestem pewien, że po każdej wizycie w
                        tym salonie wyjdę zadowolony.</p>
                    <strong>Adam Lęcznarowicz</strong>
                </div>
            </swiper-slide>
            <swiper-slide class="swiper-slide eight">
                <div class="swiper-slide-box">
                    <i class="fa-solid fa-quote-right quote"></i>
                    <p>Profesjonalizm i ciepło - tak można w dwóch słowach opisać zarówno pracownię, jak i Panią,
                        która zawsze służy świetną stylizacja i dobrym słowem! Rewelacja 😃</p>
                    <strong>Jacek Wolan</strong>
                </div>
            </swiper-slide>
            <swiper-slide class="swiper-slide nine">
                <div class="swiper-slide-box">
                    <i class="fa-solid fa-quote-right quote"></i>
                    <p>Jestem po pierwszej wizycie bardzo zadowolona, przemiła atmosfera, na pewno jeszcze
                        skorzystam z usług Pani Ani!:)</p>
                    <strong>Ola Ślęczka</strong>
                </div>
            </swiper-slide>
            <swiper-slide class="swiper-slide ten">
                <div class="swiper-slide-box">
                    <i class="fa-solid fa-quote-right quote"></i>
                    <p>Rewelacyjne miejsce! Przemiła obsługa:) i pełen profesjonalizm na najwyższym poziomie !
                        Polecam 🤗🤗</p>
                    <strong>Anna Wrona</strong>
                </div>
            </swiper-slide>
            <swiper-slide class="swiper-slide eleven">
                <div class="swiper-slide-box">
                    <i class="fa-solid fa-quote-right quote"></i>
                    <p>Spokojnie pięć gwiazdek. Po pierwsze-proces umawiania i przypomnienia SMS o terminie. Po
                        drugie podczas usługi widać, że pani wie co robi i strzyże bardzo starannie. Miła atmosfera
                        i rozmowa w lokalu to dodatkowy plusik. Dla zmotoryzowanych bardzo przestronne miejsce do
                        parkowania.</p>
                    <strong>Artur Abik</strong>
                </div>
            </swiper-slide>
            <swiper-slide class="swiper-slide twelve">
                <div class="swiper-slide-box">
                    <i class="fa-solid fa-quote-right quote"></i>
                    <p>Polecam to miejsce każdej osobie, której zależy na profesjonalnych usługach fryzjerskich.
                        Pani Ania jest bardzo sympatyczną osobą dbającą o każdy szczegół w swojej pracowni. Oprócz
                        standardowych usług fryzjerskich pracownia posiada również szereg zabiegów pielęgnacyjnych.
                        Osobiście szczerze polecam saunę ozonową ze światłoterapią. Włosy są po niej bajecznie
                        miękkie i lśniące ❤️, a w połączeniu z muzyką relaksacyjną standardowy czas u fryzjera staje
                        się 'chwilą' wytchnienia od codziennej gonitwy.</p>
                    <strong>Agnieszka Kielar</strong>
                </div>
            </swiper-slide>
            <swiper-slide class="swiper-slide thriteen">
                <div class="swiper-slide-box">
                    <i class="fa-solid fa-quote-right quote"></i>
                    <p>Pani Ania super! Świetnie doradziła, cięcie perfekcyjne, włosy jak nowe i to w przemiłej
                        atmosferze 🙂 będę wracać 🙂</p>
                    <strong>Busy Bee</strong>
                </div>
            </swiper-slide>
            <swiper-slide class="swiper-slide fourteen">
                <div class="swiper-slide-box">
                    <i class="fa-solid fa-quote-right quote"></i>
                    <p>Profesjonalne podejście do klienta, moje trudne włosy otrzymały to, czego im było trzeba,
                        choć są bardzo wymagające. Pani Ania jest bardzo ciepłą osobą i cieszę się, że tam trafiłam
                        ❤️ Mega miejsce, super klimat (piękny wystrój) , z czystym sercem POLECAM!!!</p>
                    <strong>Anna Bryś</strong>
                </div>
            </swiper-slide>
        </swiper-container>

    </div>
</section>