<section class="hero-section">

    <div class="hero">
        <div class="hero__bg">


            <div class="hero__img">
                <div class="text">
                    <button class="hero__img-btn"><i class="far fa-question-circle"></i></button>
                    <div class="text-cd">
                        <h2>Cześć, jestem Ania!</h2>
                        <p>Spełniłam swoje marzenie i otworzyłam własną pracownię fryzjerską CUT OR NOT. Jeśli
                            chcesz świetnie wyglądać, interesują Cię profesjonalne usługi, fryzjerstwo na wysokim
                            poziomie - serdecznie Cię zapraszam!
                        </p>
                    </div>
                </div>
                <img src="./assets/img/heroImg.jpeg" alt="Zdjęcie właściceli salonu fryzjerskiego- Anny Dudek"
                    class="hero__img-main">
            </div>

            <div class="hero__text-box">
                <h1 class="hero__title">Anna<span>Dudek</span>
                </h1>
                <h2 class="hero__title-cd">Pracownia Fryzjerska</h2>
                <img src="./assets/img/logo_czarne tlo.png" alt="logo firmy- cut or not" class="hero__title-img">


                <div class="hero__button-box">

                    <div class="hero__button-box-two">
                        <a href="tel: +48 785 512 046"><button class="hero__button-box-two-signup"><span
                                    class="signup-span">Zarezerwuj
                                    termin</span></button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>