<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dynalight&family=Encode+Sans:wght@100..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dynalight&display=swap" rel="stylesheet">

    <title>Cut or Not</title>

    <script src="https://kit.fontawesome.com/78533621b1.js" crossorigin="anonymous"></script>

</head>

<body>



    <section class="section-offer">

        <!--@include 'nav.kit'-->

        <div class="offers-title">
            <h1 class="offers-title__main">oferta</h1>

        </div>
        <div class="offers">
            <div class="offers__cards">

                <div class="offers__box">
                    <div class="offers__box-img one"></div>

                    <div class="offers__box__text">
                        <h1 class="offers__box__text-title">Strzyżenie</h1>
                        <ul class="offers__box__text-list">
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Strzyżenie
                                damskie</li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Strzyżenie
                                damskie- Senior +65 </li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Strzyżenie
                                męskie</li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Strzyżenie
                                męskie- Senior +65 </li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Strzyżenie
                                dziewczynek- do 12. roku życia</li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Strzyżenie
                                chłopców- do 12. roku życia</li>
                        </ul>
                        <p class="offers__box__text-booksy">Sprawdź więcej wraz z cennikiem!</p>

                        <a
                            href="https://booksy.com/pl-pl/199021_cut-or-not-pracownia-fryzjerska-anna-dudek_fryzjer_10953_zaczernie#ba_s=seo"><button
                                class="offers__box__text-button">Przejdź na booksy</button></a>
                    </div>

                </div>
                <div class="offers__box">
                    <div class="offers__box__text">
                        <h1 class="offers__box__text-title">Koloryzacja</h1>
                        <ul class="offers__box__text-list">
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Koloryzacja
                                jednolita</li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Koloryzacja +
                                refleksy</li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Balleyage</li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Dekoloryzacja
                                Odrostu Globalnie + Tonowanie włosów </li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Koloryzacja
                                odrostu- jeden kolor</li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Refleksy</li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Koloryzacja
                                Wielotonowa airtouch</li>
                        </ul>
                        <p class="offers__box__text-booksy">Sprawdź więcej wraz z cennikiem!</p>

                        <a
                            href="https://booksy.com/pl-pl/199021_cut-or-not-pracownia-fryzjerska-anna-dudek_fryzjer_10953_zaczernie#ba_s=seo"><button
                                class="offers__box__text-button">Przejdź na booksy</button></a>
                    </div>
                    <div class="offers__box-img two"></div>
                </div>
                <div class="offers__box">
                    <div class="offers__box-img three"></div>
                    <div class="offers__box__text">
                        <h1 class="offers__box__text-title">Pielęgnacja</h1>
                        <ul class="offers__box__text-list">
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Sauna ozonowa z
                                jonizacją i światłoterapią + ampułka</li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Pielęgnacja
                                arganowa</li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Botox
                                truskawkowy🍓</li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Pielęgnacja
                                R-TWO 🌼🏵️🌼🏵️</li>
                        </ul>
                        <p class="offers__box__text-booksy">Sprawdź więcej wraz z cennikiem!</p>

                        <a
                            href="https://booksy.com/pl-pl/199021_cut-or-not-pracownia-fryzjerska-anna-dudek_fryzjer_10953_zaczernie#ba_s=seo"><button
                                class="offers__box__text-button">Przejdź na booksy</button></a>
                    </div>
                </div>

                <div class="offers__box">
                    <div class="offers__box__text">
                        <h1 class="offers__box__text-title">Fryzury okolicznościowe</h1>
                        <ul class="offers__box__text-list">
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Modelowanie
                                włosów krótkich / długich / średniej dłogości</li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Modelowanie +
                                fale</li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Upięcie
                                okolicznościowe</li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Fryzura ślubna -
                                próbna</li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Upięcie ślubne
                            </li>
                        </ul>
                        <p class="offers__box__text-booksy">Sprawdź więcej wraz z cennikiem!</p>

                        <a
                            href="https://booksy.com/pl-pl/199021_cut-or-not-pracownia-fryzjerska-anna-dudek_fryzjer_10953_zaczernie#ba_s=seo"><button
                                class="offers__box__text-button">Przejdź na booksy</button></a>
                    </div>
                    <div class="offers__box-img four">

                    </div>
                </div>

                <div class="offers__box">
                    <div class="offers__box-img five">

                    </div>

                    <div class="offers__box__text">
                        <h1 class="offers__box__text-title">Zabiegi</h1>
                        <ul class="offers__box__text-list">
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Trwała</li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Keratynowe
                                prostowanie włosów </li>

                        </ul>
                        <p class="offers__box__text-booksy">Sprawdź więcej wraz z cennikiem!</p>

                        <a
                            href="https://booksy.com/pl-pl/199021_cut-or-not-pracownia-fryzjerska-anna-dudek_fryzjer_10953_zaczernie#ba_s=seo"><button
                                class="offers__box__text-button">Przejdź na booksy</button></a>
                    </div>

                </div>
                <div class="offers__box">
                    <div class="offers__box__text">
                        <h1 class="offers__box__text-title">Pakiety Ślubne</h1>
                        <ul class="offers__box__text-list">
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Ustalenia
                                indywidualne</li>
                            <li><a href="tel:+48 785 512 046" class="offers__box__text-list-item"><i
                                        class="fa-solid fa-phone"></i> +48 785 512 046</a></li>
                        </ul>
                        <!-- <p class="offers__box__text-booksy">Sprawdź więcej wraz z cennikiem!</p> -->


                    </div>
                    <div class="offers__box-img six">

                    </div>
                </div>
            </div>
        </div>
    </section>





    <script src="dist/js/main.min.js"></script>
</body>

</html>