<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dynalight&family=Encode+Sans:wght@100..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dynalight&display=swap" rel="stylesheet">

    <title>Cut or Not</title>

    <script src="https://kit.fontawesome.com/78533621b1.js" crossorigin="anonymous"></script>

</head>

<body>



    <section class="section-offer">

        <!--@include 'nav.kit'-->

        <div class="offers-title">
            <h1 class="offers-title__main">oferta</h1>

        </div>
        <div class="offers">
            <div class="offers__cards">

                <div class="offers__box">
                    <div class="offers__box-img one"></div>

                    <div class="offers__box__text">
                        <h1 class="offers__box__text-title">Strzyżenie</h1>
                        <ul class="offers__box__text-list">
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Konsultacja (15
                                min) | <span class="priceStrong">Bezpłatnie</span></li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Adaptacja
                                malucha (15 min) | <span class="priceStrong">Bezpłatnie</span></li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Grzywka (~ 20
                                min) | <span class="priceStrong">30,00 zł</span></li>


                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Strzyżenie
                                damskie - włosy krótkie (~ 1h) | <span class="priceStrong">80,00 zł</span></li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Strzyżenie
                                damskie - włosy średniej długości (~ 1h) | <span class="priceStrong">100,00 zł</span>
                            </li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Strzyżenie
                                damskie - włosy długie (~ 1h 10 min) | <span class="priceStrong">125,00 zł +</span></li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Podcięcie włosów
                                na sucho, na prosto (~ 30 min) | <span class="priceStrong">65,00 zł</span></li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Polerowanie
                                włosów (~ 1h 30 min) | <span class="priceStrong">130,00 zł</span></li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Strzyżenie
                                damskie - Senior +65 (~ 1h) | <span class="priceStrong">60,00 zł</span></li>

                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Strzyżenie
                                męskie (~ 30 min) | <span class="priceStrong">70,00 zł</span></li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Strzyżenie brody
                                (~ 30 min) | <span class="priceStrong">40,00 zł</span></li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Strzyżenie
                                męskie + broda (~ 1h) | <span class="priceStrong">110,00 zł</span></li>

                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Strzyżenie
                                męskie - Senior +65 (~ 30 min) | <span class="priceStrong">50,00 zł </span></li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Pakiet - Ojciec
                                i Syn (~ 60 min) | <span class="priceStrong">110,00 zł</span></li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Strzyżenie
                                dziewczynek - do 12. roku życia (~ 1h) | <span class="priceStrong">60,00 zł</span></li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Podcięcie włosów
                                - dziewczynek do 12. roku życia (~ 30 min) | <span class="priceStrong">45,00 zł</span>
                            </li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Strzyżenie
                                chłopców - do 12. roku życia (~ 30 min) | <span class="priceStrong"> 50,00 zł</span>
                            </li>

                        </ul>

                        <a href="tel: +48 785 512 046"><button class="offers__box__text-button">Zadzwoń</button></a>
                    </div>

                </div>
                <div class="offers__box">
                    <div class="offers__box__text">
                        <h1 class="offers__box__text-title">Koloryzacja</h1>
                        <ul class="offers__box__text-list">
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Koloryzacja
                                odrostu- jeden kolor (~ 2h) | <span class="priceStrong">240,00 zł</span></li>
                         

                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Koloryzacja
                                jednolita - włosy krótkie (~ 2h) | <span class="priceStrong">240,00 zł</span></li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Koloryzacja
                                jednolita - włosy średniej długości (~ 2h) | <span class="priceStrong">300,00 zł
                                    +</span></li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Koloryzacja
                                jednolita - włosy długie (~ 2h 30 min) | <span class="priceStrong">350,00 zł +</span>
                            </li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Koloryzacja
                                + refleksy - włosy krótkie (~ 2h) | <span class="priceStrong">260,00 zł</span></li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Koloryzacja
                                + refleksy - włosy średniej długości (~ 2h 30 min) | <span class="priceStrong">350,00 zł
                                    +</span></li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Koloryzacja
                                + refleksy - włosy długie (~ 3h) | <span class="priceStrong">400,00 zł +</span></li>
                                  
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Tonowanie (~ 1h)
                                | <span class="priceStrong">150,00 zł +</span></li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Refleksy na
                                naturalnej bazie (~ 2h 15 min) | <span class="priceStrong">320,00 zł +</span></li>
                                 <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Baleyage (~ 3h
                                30 min) | <span class="priceStrong">430,00 zł +</span></li>
                                <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Baleyage - włosy
                                gęste i długie (~ 4h 30 min) | <span class="priceStrong">Zmienna</span></li>
                                 <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Dekoloryzacja
                                Odrostu Globalnie + Tonowanie włosów (~ 3h 30 min) | <span
                                    class="priceStrong">Zmienna</span></li>
<li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Koloryzacja
                                Wielotonowa airtouch (~ 6h 30 min) | <span class="priceStrong">Zmienna</span></li>
                            
                            
                        </ul>

                        <a href="tel: +48 785 512 046"><button class="offers__box__text-button">Zadzwoń</button></a>
                    </div>
                    <div class="offers__box-img two"></div>
                </div>
                <div class="offers__box">
                    <div class="offers__box-img three"></div>
                    <div class="offers__box__text">
                        <h1 class="offers__box__text-title">Pielęgnacja</h1>
                        <ul class="offers__box__text-list">
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Sauna ozonowa z
                                jonizacją i światłoterapią + ampułka (~ 1h) | <span class="priceStrong">140,00 zł</span>
                            </li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Pielęgnacja
                                arganowa (~ 40 min) | <span class="priceStrong">80,00 zł</span></li>
                            
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Pielęgnacja
                                R-TWO 🌼🏵️🌼🏵️ (~1h) | <span class="priceStrong">140,00 zł</span></li>
                                <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Botox
                                truskawkowy🍓 (~ 2h) | <span class="priceStrong">250,00 zł +</span></li>
                        </ul>

                        <a href="tel: +48 785 512 046"><button class="offers__box__text-button">Zadzwoń</button></a>
                    </div>
                </div>

                <div class="offers__box">
                    <div class="offers__box__text">
                        <h1 class="offers__box__text-title">Fryzury okolicznościowe</h1>
                        <ul class="offers__box__text-list">
                          
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Modelowanie
                                włosów krótkich (~ 1h) | <span class="priceStrong">90,00 zł</span></li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Modelowanie
                                włosów średniej długości (~ 1h 10 min) | <span class="priceStrong">120,00 zł</span></li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Modelowanie
                                włosów długich (~ 1h 20 min) | <span class="priceStrong">140,00 zł</span></li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Modelowanie +
                                fale (~ 2h) | <span class="priceStrong">200,00 zł</span></li>
                                  <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Fale
                                Objętościowe (~ 2h) | <span class="priceStrong">280,00 zł</span></li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Upięcie
                                okolicznościowe (~ 1h) | <span class="priceStrong">200,00 zł</span></li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Fryzura ślubna -
                                próbna (~ 1h) | <span class="priceStrong">180,00 zł</span></li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Upięcie ślubne
                                (~ 1h 30 min) | <span class="priceStrong">280,00 zł</span></li>

                        </ul>

                        <a href="tel: +48 785 512 046"><button class="offers__box__text-button">Zadzwoń</button></a>
                    </div>
                    <div class="offers__box-img four">

                    </div>
                </div>

                <div class="offers__box">
                    <div class="offers__box-img five">

                    </div>

                    <div class="offers__box__text">
                        <h1 class="offers__box__text-title">Zabiegi</h1>
                        <ul class="offers__box__text-list">
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Trwała (~ 2h) |
                                <span class="priceStrong">200,00 zł</span>
                            </li>
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Keratynowe
                                prostowanie włosów (~ 4h) | <span class="priceStrong">Zmienna</span></li>

                        </ul>

                        <a href="tel: +48 785 512 046"><button class="offers__box__text-button">Zadzwoń</button></a>
                    </div>

                </div>
                <div class="offers__box">
                    <div class="offers__box__text">
                        <h1 class="offers__box__text-title">Pakiety Ślubne / Soboty</h1>
                        <ul class="offers__box__text-list">
                            <li class="offers__box__text-list-item"><i class="fa-solid fa-scissors"></i>Ustalenia
                                indywidualne</li>
                            <li><a href="tel:+48 785 512 046" class="offers__box__text-list-item"><i
                                        class="fa-solid fa-phone"></i> +48 785 512 046</a></li>
                        </ul>



                    </div>
                    <div class="offers__box-img six">

                    </div>
                </div>
            </div>
        </div>
    </section>





    <script src="dist/js/main.min.js"></script>
</body>

</html>